/* App styling */

.App {
  text-align: center;
}

/* Header styling */
.header {
  background-color: rgb(9, 9, 9);
  color: whitesmoke;
  font-family: fantasy;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.user {
  animation: both;
  display: flex;
  gap: 10px;
}

.nav {
  font-family: fantasy;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header>ul>li {
  font-family: fantasy;
  display: flex;
  list-style-type: none;
  margin: 10px;
}

.App-logo {
  height: 110px;
  width: 118px;
}



.body {
  border: 1px solid black;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */

}

.container {
  
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.combine{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  height: 100000px;
  width: 1500px;


}

.input-block{
  border: 1px solid black;
  height: 300px;
  width: 750px;
  font-family: fantasy;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.output-block{
  border: 1px solid black;
  height: 300px;
  width: 750px;
  font-family: fantasy;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}



.footer {
  background-color: rgb(9, 9, 9);
  color: whitesmoke;
  font-family: fantasy;
  padding: 10px;
}

/* App header styling */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

































